spring:
  # datasource - MySQL
  datasource:
    url: jdbc:mysql://localhost:3306/leaper?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: password

  # datasource - H2
  # datasource:
  #   url: jdbc:h2:file:./data/testdb
  #   driver-class-name: org.h2.Driver
  #   username: sa
  #   password:

  # H2 Console 설정
  # h2:
  #   console:
  #     enabled: true
  #     path: /h2-console

  data:
    mongodb:
      host: localhost
      port: 27017
      database: leaper

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

cloud:
  aws:
    s3:
      bucket: ${S3_BUCKET_NAME}
      expirationForPut: 1
      expirationForGet: 24
    credentials:
      accessKey: ${S3_ACCESS_KEY}
      secretKey: ${S3_SECRET_KEY}
    region:
      static: ap-northeast-2
      stack:
        auto: false

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG